{% load static %}
{# Usage: {% include 'includes/profile_avatar.html' with profile=user.profile user_obj=user %} #}
{% with person=user_obj|default:profile.user %}
{% if profile.avatar and profile.avatar.name != 'defaults/user.png' and 'profiles/' in profile.avatar.name %}
    <img class="avatar-img rounded-circle profile-avatar-img"
         src="/media/{{ profile.avatar.name }}"
         alt=""
         width="40"
         height="40"
         onerror="this.classList.add('d-none');this.nextElementSibling.classList.remove('d-none');">
    <span class="avatar-initials rounded-circle d-none" title="{{ person.get_full_name }}">{{ person.first_name|first|upper }}{{ person.last_name|first|upper }}</span>
{% else %}
    <span class="avatar-initials rounded-circle" title="{{ person.get_full_name }}">{{ person.first_name|first|upper }}{{ person.last_name|first|upper }}</span>
{% endif %}
{% endwith %}
